include MANIFEST.in.in
include LICENSE.LGPL
include Makefile
include cerbero-uninstalled
recursive-include test/pkgconfig *
include data/autotools/config.guess
include data/autotools/config.sub
include data/ndk-build/GStreamer.java
include data/ndk-build/fontconfig/fonts.conf
include data/ndk-build/fontconfig/fonts/Ubuntu-R.ttf
include data/ndk-build/gstreamer-1.0.mk
include data/ndk-build/gstreamer_android-1.0.c.in
include data/ndk-build/gstreamer_prebuilt.mk
include data/ndk-build/tools.mk
include data/ndk-build/tools/windows/libiconv2.dll
include data/ndk-build/tools/windows/libintl3.dll
include data/ndk-build/tools/windows/pkg-config.exe
include data/ndk-build/tools/windows/regex2.dll
include data/ndk-build/tools/windows/sed.exe
include data/vs-1.0/gst-template/Scripts/1033/default.js
include data/vs-1.0/gst-template/gst-template.vcxproj
include data/vs-1.0/msvc/common.props
include data/vs-1.0/msvc/config.props
include data/vs-1.0/msvc/msvcrt.props
include data/vs-1.0/msvc/release.props
include data/vs-1.0/msvc/x86.props
include data/vs-1.0/msvc/x86_64.props
include data/vs-1.0/wizard/gst-sdk-template.ico
include data/vs-1.0/wizard/gst-sdk-template.vsdir
include data/vs-1.0/wizard/gst-sdk-template.vsz
include data/vs/gst-sdk-template/Scripts/1033/default.js
include data/vs/gst-sdk-template/gst-sdk-template.vcxproj
include data/vs/msvc/common.props
include data/vs/msvc/config.props
include data/vs/msvc/msvcrt.props
include data/vs/msvc/release.props
include data/vs/msvc/x86.props
include data/vs/msvc/x86_64.props
include data/vs/wizard/gst-sdk-template.ico
include data/vs/wizard/gst-sdk-template.vsdir
include data/vs/wizard/gst-sdk-template.vsz
include data/wix/Config.wxi
include data/wix/installer.wxs
include data/wix/properties.wxi
include data/wix/ui.wxs
include data/wix/utils.wxs
include data/xcode/templates/ios/GStreamer Base.xctemplate/TemplateInfo.plist
include data/xcode/templates/ios/GStreamer Base.xctemplate/fontconfig/fonts.conf
include data/xcode/templates/ios/GStreamer Base.xctemplate/fontconfig/fonts/Ubuntu-R.ttf
include data/xcode/templates/ios/GStreamer Base.xctemplate/gst_ios_init.h
include data/xcode/templates/ios/GStreamer Base.xctemplate/gst_ios_init.m
include data/xcode/templates/ios/GStreamer Base.xctemplate/main.m
include data/xcode/templates/ios/GStreamer Empty Application.xctemplate/TemplateInfo.plist
include data/xcode/templates/ios/GStreamer Master-Detail Application.xctemplate/TemplateInfo.plist
include data/xcode/templates/ios/GStreamer Page-Based Application.xctemplate/TemplateInfo.plist
include data/xcode/templates/ios/GStreamer Single View Application.xctemplate/TemplateInfo.plist
include data/xcode/templates/ios/GStreamer Tabbed Application.xctemplate/TemplateInfo.plist
include data/xcode/templates/ios/GStreamer Utility Application.xctemplate/TemplateInfo.plist
include config/android.config
include config/build-tools.cbc
include config/cross-android-arm64.cbc
include config/cross-android-armv7.cbc
include config/cross-android-universal.cbc
include config/cross-android-x86-64.cbc
include config/cross-android-x86.cbc
include config/cross-android.cbc
include config/cross-ios-arm64.cbc
include config/cross-ios-arm7.cbc
include config/cross-ios-arm7s.cbc
include config/cross-ios-universal.cbc
include config/cross-ios-x86-64.cbc
include config/cross-ios-x86.cbc
include config/cross-lin-arm.cbc
include config/cross-lin-x86.cbc
include config/cross-win32.cbc
include config/cross-win64.cbc
include config/darwin.config
include config/ios.config
include config/linux.config
include config/mingw-w32-lin.cbc
include config/mingw-w32-win.cbc
include config/mingw-w64-lin.cbc
include config/mingw-w64-win.cbc
include config/osx-universal.cbc
include config/osx-x86-64.cbc
include config/win32.cbc
include config/win64.cbc
include config/windows.config
include tools/bootstrap-debian.sh
include tools/bootstrap-redhat.sh
include tools/build-toolchains.sh
include tools/cerbero.cbc.template
include tools/certdata2pem.py
include tools/chroot.sh
include tools/show-coverage.py
include packages/base-crypto.package
include packages/base-system-1.0.package
include packages/custom.py
include packages/gstreamer-1.0-capture.package
include packages/gstreamer-1.0-codecs-gpl.package
include packages/gstreamer-1.0-codecs-restricted.package
include packages/gstreamer-1.0-codecs.package
include packages/gstreamer-1.0-core.package
include packages/gstreamer-1.0-devtools.package
include packages/gstreamer-1.0-dvd.package
include packages/gstreamer-1.0-editing.package
include packages/gstreamer-1.0-effects.package
include packages/gstreamer-1.0-encoding.package
include packages/gstreamer-1.0-libav.package
include packages/gstreamer-1.0-net-restricted.package
include packages/gstreamer-1.0-net.package
include packages/gstreamer-1.0-playback.package
include packages/gstreamer-1.0-system.package
include packages/gstreamer-1.0-visualizers.package
include packages/gstreamer-1.0/background.png
include packages/gstreamer-1.0/banner.bmp
include packages/gstreamer-1.0/dialog.bmp
include packages/gstreamer-1.0/gstreamer-1.0.package
include packages/gstreamer-1.0/icon.ico
include packages/gstreamer-1.0/license.rtf
include packages/gstreamer-1.0/license.txt
include packages/gstreamer-1.0/license_unwrapped.txt
include packages/gstreamer-1.0/post_install_ios
include recipes/a52dec.recipe
include recipes/a52dec/0002-Fix-link-cross-compiling-to-x86-in-darwin-platforms.patch
include recipes/a52dec/0003-Disable-AC_C_ALWAYS_INLINE.patch
include recipes/a52dec/0004-configure-let-us-decide-if-we-really-want-PIC-or-not.patch
include recipes/build-tools/autoconf.recipe
include recipes/build-tools/automake.recipe
include recipes/build-tools/bison.recipe
include recipes/build-tools/cmake.recipe
include recipes/build-tools/flex.recipe
include recipes/build-tools/flex/flex-configure.ac-Use-gettext-0.19.patch
include recipes/build-tools/flex/flex-prevent-to-build-doc.patch
include recipes/build-tools/gas-preprocessor.recipe
include recipes/build-tools/gettext-m4.recipe
include recipes/build-tools/gettext-tools.recipe
include recipes/build-tools/glib-tools.recipe
include recipes/build-tools/gnu-sed.recipe
include recipes/build-tools/gobject-introspection-m4.recipe
include recipes/build-tools/gperf-0001-Don-t-override-environment-AR.patch
include recipes/build-tools/gperf.recipe
include recipes/build-tools/intltool-m4.recipe
include recipes/build-tools/intltool.recipe
include recipes/build-tools/libtool.recipe
include recipes/build-tools/libtool/0001-Add-support-for-weak_framework-linking-on-Darwin.patch
include recipes/build-tools/m4.recipe
include recipes/build-tools/meson.recipe
include recipes/build-tools/mingw-regex.recipe
include recipes/build-tools/mingw-regex/0001-Fix-compilation.patch
include recipes/build-tools/ninja.recipe
include recipes/build-tools/orc.recipe
include recipes/build-tools/pkg-config.recipe
include recipes/build-tools/vala-m4.recipe
include recipes/build-tools/xz.recipe
include recipes/build-tools/yasm.recipe
include recipes/bzip2.recipe
include recipes/bzip2/0001-Fix-Makefiles-and-add-support-for-Windows-and-OS-X.patch
include recipes/cairo.recipe
include recipes/cairo/0001-Disable-building-of-the-tests.patch
include recipes/cairo/0001-Fix-compilation-with-Android-s-bionic-libc.patch
include recipes/cairo/0001-configure-Disable-LTO-as-it-breaks-at-least-on-Andro.patch
include recipes/cdparanoia.recipe
include recipes/cdparanoia/0001-configure.in-Always-use-AC_PROG_CC.patch
include recipes/custom.py
include recipes/expat.recipe
include recipes/faad2.recipe
include recipes/faad2/0001-Fix-redefinition-of-off_t.patch
include recipes/faad2/0002-Add-no-undefined-on-windows.patch
include recipes/flac.recipe
include recipes/fontconfig.recipe
include recipes/fontconfig/0001-Do-not-build-tests-on-windows.patch
include recipes/fontconfig/0001-Don-t-use-_mktemp_s-which-is-not-available-in-XP.patch
include recipes/fontconfig/0003-configure-Allow-static-build.patch
include recipes/freetype.recipe
include recipes/fribidi.recipe
include recipes/fribidi/0001-fribidi.def-Include-all-required-symbols.patch
include recipes/fribidi/0002-fribidi-disable-docs.patch
include recipes/gdk-pixbuf.recipe
include recipes/gdk-pixbuf/0001-thumbnailer-Add-EXEEXT-to-the-the-gdk-pixbuf-print-m.patch
include recipes/glib-networking.recipe
include recipes/glib-networking/0001-Add-support-for-static-modules.patch
include recipes/glib-networking/0002-Get-the-CA-certificate-path-from-the-environment-var.patch
include recipes/glib-networking/0003-gnutls-Use-db-relative-to-libglib-2.0-if-needed.patch
include recipes/glib-networking/0004-gtlsbackend-gnutls-Get-anchor-file-relative-to-libgi.patch
include recipes/glib.recipe
include recipes/glib/0001-Let-user-disable-Cocoa-and-Carbon-support-on-demand.patch
include recipes/glib/0002-Optionally-revert-to-the-old-pre-2.28-URI-handler-co.patch
include recipes/glib/0003-Add-support-for-loading-GIO-modules-from-the-distro-.patch
include recipes/glib/0004-Allow-for-a-second-distro-GIO-module-path-as-used-on.patch
include recipes/glib/0005-Blacklist-the-bamf-GIO-module.patch
include recipes/glib/0006-giomodule-do-not-try-to-load-modules-from-gio-module.patch
include recipes/glib/0008-gdbus-codgen-Use-a-proper-shebang-in-the-generator.patch
include recipes/glib/0009-Unhide-_g_io_modules_ensure_extension_points_registe.patch
include recipes/glib/0015-Implementation-of-Cocoa-event-loop-integration-in-GM.patch
include recipes/glib/0016-gmessages-Fix-compilation-on-Android.patch
include recipes/glib/0017-GSocket-Fix-race-conditions-on-Win32-if-multiple-thr.patch
include recipes/glib/0018-Check-for-RTLD_LAZY-and-others-in-configure.patch
include recipes/glib/0018-Don-t-use-RTLD_DEFAULT-on-Android-for-g_module_self.patch
include recipes/glib/0019-gmain-Fix-erroneous-if-condition-when-dtrace-is-disa.patch
include recipes/gmp.recipe
include recipes/gnutls.recipe
include recipes/gnutls/0001-Undefine-__USE_MINGW_ANSI_STDIO-as-otherwise-stdio.h.patch
include recipes/gnutls/0003-Disable-ncrypt-support.patch
include recipes/gobject-introspection.recipe
include recipes/graphene.recipe
include recipes/graphene/0001-simd4f-Fix-a-compilation-error.patch
include recipes/gst-editing-services-1.0-static.recipe
include recipes/gst-editing-services-1.0.recipe
include recipes/gst-libav-1.0-static.recipe
include recipes/gst-libav-1.0.recipe
include recipes/gst-plugins-bad-1.0-static.recipe
include recipes/gst-plugins-bad-1.0.recipe
include recipes/gst-plugins-base-1.0-static.recipe
include recipes/gst-plugins-base-1.0.recipe
include recipes/gst-plugins-good-1.0-static.recipe
include recipes/gst-plugins-good-1.0.recipe
include recipes/gst-plugins-ugly-1.0-static.recipe
include recipes/gst-plugins-ugly-1.0.recipe
include recipes/gst-rtsp-server-1.0-static.recipe
include recipes/gst-rtsp-server-1.0.recipe
include recipes/gst-shell.recipe
include recipes/gst-validate.recipe
include recipes/gstreamer-1.0-static.recipe
include recipes/gstreamer-1.0.recipe
include recipes/gtk-doc-lite.recipe
include recipes/harfbuzz.recipe
include recipes/json-glib.recipe
include recipes/json-glib/0001-Don-t-override-our-own-ACLOCAL_FLAGS-but-append-them.patch
include recipes/lame.recipe
include recipes/lame/0001-Make-lame-work-with-auto-1.12.patch
include recipes/libass.recipe
include recipes/libass/0001-directwrite-drop-SAL-annotations.patch
include recipes/libcroco.recipe
include recipes/libdca.recipe
include recipes/libdca/0001-Disable-AC_C_ALWAYS_INLINE.patch
include recipes/libdv.recipe
include recipes/libdv/0001-Check-properly-for-sched_setscheduler.patch
include recipes/libdv/0003-Don-t-build-test-programs.patch
include recipes/libdv/0004-Fix-compilation-on-Android.patch
include recipes/libdv/0005-Fix-compilation-on-Windows-some-more.patch
include recipes/libdv/0006-Add-the-pthread-libs-to-pkg-config.patch
include recipes/libdv/0007-Don-t-require-libsdl-to-be-installed-for-autoreconf.patch
include recipes/libdv/0012-Build-a-DLL-on-Windows.patch
include recipes/libdv/0013-Fix-endianess-detection-with-mingw-w64.patch
include recipes/libdv/0014-libdv-fix-build-of-gasmoff-after-autoreconf.patch
include recipes/libdvdnav.recipe
include recipes/libdvdnav/0001-Fix-linking-in-windows-compilation.patch
include recipes/libdvdnav/0002-Build-DLLs-on-Windows.patch
include recipes/libdvdread.recipe
include recipes/libdvdread/0001-Fix-compilation-on-Windows-by-including-files-with-t.patch
include recipes/libdvdread/0002-Build-DLLs-on-Windows.patch
include recipes/libffi.recipe
include recipes/libffi/0001-libffi-Don-t-be-smart-about-toolexeclibdir.patch
include recipes/libjpeg-turbo.recipe
include recipes/libjpeg-turbo/0001-Include-limits.h-for-SIZE_MAX.patch
include recipes/libkate.recipe
include recipes/libkate/0001-be-more-permissive-with-automake-errors-now-that-we-.patch
include recipes/libmms.recipe
include recipes/libmms/0001-Use-native-iconv-in-windows.patch
include recipes/libmms/0002-uri-Add-implementation-of-strndup-for-platforms-that.patch
include recipes/libmms/0005-Fix-build-on-OSX-leopard.patch
include recipes/libmpeg2.recipe
include recipes/libmpeg2/0001-Disable-AC_C_ALWAYS_INLINE.patch
include recipes/libmpeg2/0002-Import-revision-1206-from-upstream-to-fix-PIE-build.patch
include recipes/libnice-static.recipe
include recipes/libnice.recipe
include recipes/libnice/0001-agent-Remove-unnecessary-NULL-check.patch
include recipes/libnice/0001-nicesrc-spin-the-agent-mainloop-in-a-separate-thread.patch
include recipes/libnice/0002-Do-not-update-a-remote-candidate-s-type.patch
include recipes/libnice/0003-Do-not-compare-scope-for-IPv6-address-when-scope-is-.patch
include recipes/libnice/0004-Removing-no-op-assignment.patch
include recipes/libogg.recipe
include recipes/libogg/0001-Fix-iOS-build.patch
include recipes/libpng/0001-neon-fix-function-export-names-for-iOS-armv7.patch
include recipes/libpng/libpng.recipe
include recipes/librsvg.recipe
include recipes/librsvg/0001-Use-ACLOCAL_FLAGS.patch
include recipes/librsvg/option-enable-disable-gtk.patch
include recipes/librtmp/0001-Fix-support-for-cross-compilation.patch
include recipes/librtmp/librtmp.recipe
include recipes/libsoup.recipe
include recipes/libsoup/0001-Rip-out-sqlite-based-cookie-storage.patch
include recipes/libsoup/0002-Don-t-build-tests.patch
include recipes/libsrtp.recipe
include recipes/libsrtp/0001-Don-t-create-a-symlink-if-there-is-no-SHAREDLIBVERSI.patch
include recipes/libtasn1.recipe
include recipes/libtasn1/0001-Rename-gnulib-symbols.patch
include recipes/libtheora.recipe
include recipes/libtheora/0001-Add-option-to-disable-doc.patch
include recipes/libtheora/0002-Update-makefiles.patch
include recipes/libtheora/0003-Fix-linking-of-theora-encoder-library.patch
include recipes/libtheora/0004-Use-our-automake-version-and-not-an-older-one.patch
include recipes/libtheora/0005-Update-Makefile.in-too-to-avoid-needing-to-call-auto.patch
include recipes/libtheora/0006-examples-Don-t-use-png_sizeof.patch
include recipes/libtheora/0007-Don-t-use-fforce-addr.patch
include recipes/libunwind.recipe
include recipes/libvisual.recipe
include recipes/libvisual/0001-Check-properly-for-sched_setshceduler.patch
include recipes/libvisual/0003-Add-long-long-check-for-win64.patch
include recipes/libvisual/0005-Fix-compilation-in-win64.patch
include recipes/libvisual/0006-Fix-build-in-PPC.patch
include recipes/libvisual/0007-Fix-build-on-debian-squeeze.patch
include recipes/libvisual/0008-Remove-malloc-realloc-configure-checks-they-re-broke.patch
include recipes/libvisual/0009-Fix-build-for-Android-X86.patch
include recipes/libvisual/0010-Only-define-inline-and-friends-if-they-re-not-define.patch
include recipes/libvisual/0011-Fix-autoreconf-when-using-our-gettext-version.patch
include recipes/libvisual/0012-configure-gettext-0.18-is-enough-no-0.18.2-needed.patch
include recipes/libvisual/0013-Include-lv_cpu.h-for-visual_cpu_initialize.patch
include recipes/libvisual/0014-Add-forward-declaration-of-visual_transform_init-as-.patch
include recipes/libvisual/0015-Include-lv_cpu.h-in-another-place-too.patch
include recipes/libvisual/0016-configure.ac-Use-gettext-0.19.patch
include recipes/libvorbis.recipe
include recipes/libvorbis/0001-Fix-linking-on-Android.patch
include recipes/libvorbis/0003-Link-the-other-libs-with-lm-too.patch
include recipes/libvorbis/0004-configure-check-for-endianness.patch
include recipes/libvorbis/0005-darwin-do-not-build-for-a-generic-arm-architecture.patch
include recipes/libvorbis/0006-Use-our-version-of-automake-instead-of-some-random-o.patch
include recipes/libvorbis/0007-autogen.sh-Make-sure-libtoolize-runs-fully.patch
include recipes/libvpx.recipe
include recipes/libvpx/0001-build-Fix-the-min-version-flag-for-iOS-simulator-bui.patch
include recipes/libvpx/0002-Include-Android-cpu-features.c-instead-of-.h.patch
include recipes/libvpx/0003-configure-Add-back-the-armv5te-android-gcc-target.patch
include recipes/libvpx/0004-build-Remove-broken-custom-android-toolchain-usage.patch
include recipes/libvpx/0005-configure-Add-Android-ARM64-support.patch
include recipes/libvpx/0006-Don-t-embed-bitcode-on-iOS-until-we-support-that-pro.patch
include recipes/libxml2.recipe
include recipes/libxml2/0001-Enable-windows-cross-compilation.patch
include recipes/libxml2/0002-makefiles-disable-tests.patch
include recipes/libxml2/0003-configure-fix-python-dir-prefix.patch
include recipes/mpg123.recipe
include recipes/mpg123/0001-Disable-tools-and-libout123-library.patch
include recipes/nettle/0001-ios-fix-build-using-.word-for-assembly-constants.patch
include recipes/nettle/nettle.recipe
include recipes/opencore-amr.recipe
include recipes/opencore-amr/0001-Fix-include-dir-in-pc-files.patch
include recipes/openh264.recipe
include recipes/openh264/0001-Add-version-suffix.patch
include recipes/openh264/0002-Remove-fembed-bitcode-for-iOS-build.patch
include recipes/openjpeg.recipe
include recipes/openjpeg/0001-Build-shared-and-static-library.patch
include recipes/openjpeg/0002-Set-INSTALL_NAME_DIR.patch
include recipes/opus.recipe
include recipes/orc.recipe
include recipes/pango.recipe
include recipes/pixman.recipe
include recipes/pixman/0001-Fix-build-on-Android.patch
include recipes/pixman/0002-Enable-CPU-detection-on-Android.patch
include recipes/sbc.recipe
include recipes/sbc/0001-sbc-Use-stdint.h.patch
include recipes/sbc/0002-Don-t-use-NEON-with-aarch64-on-Clang.patch
include recipes/soundtouch.recipe
include recipes/soundtouch/0001-Add-dummy-file-to-make-sure-config-m4-exists.patch
include recipes/soundtouch/0002-Use-STLPORT-on-Android.patch
include recipes/soundtouch/0003-Don-t-build-soundstretch.patch
include recipes/soundtouch/0004-Use-gnustl.patch
include recipes/soundtouch/0005-Fix-soundstretch-linking.patch
include recipes/soundtouch/0006-Fix-pkg-config-file.patch
include recipes/soundtouch/0007-Make-it-compile-on-IOS.patch
include recipes/soundtouch/0008-Fix-compilation-with-clang.patch
include recipes/soundtouch/0010-Try-harder-to-generate-Win32-DLLs.patch
include recipes/spandsp.recipe
include recipes/spandsp/0001-Don-t-do-a-whereis-which-dance-to-find-which.patch
include recipes/spandsp/0001-Fix-build-for-windows-using-mingw.patch
include recipes/spandsp/0001-spandsp-do-not-compile-has_X86FEATURE-symbols.patch
include recipes/spandsp/0002-Define-LIBSPANDSP_EXPORTS-when-building-the-spandsp-.patch
include recipes/spandsp/0003-Use-BUILT_SOURCES-to-generate-extra-headers.patch
include recipes/speex.recipe
include recipes/taglib.recipe
include recipes/taglib/0001-Link-with-correct-STL-on-Android.patch
include recipes/taglib/0002-Build-a-static-and-non-static-version.patch
include recipes/tiff.recipe
include recipes/toolchain/all.recipe
include recipes/toolchain/binutils.recipe
include recipes/toolchain/cloog.recipe
include recipes/toolchain/gcc-core.recipe
include recipes/toolchain/gcc.recipe
include recipes/toolchain/gendef.recipe
include recipes/toolchain/gmp.recipe
include recipes/toolchain/mingw-w64-headers.recipe
include recipes/toolchain/mingw-w64.recipe
include recipes/toolchain/mpc.recipe
include recipes/toolchain/mpfr.recipe
include recipes/toolchain/winpthreads.recipe
include recipes/vo-aacenc.recipe
include recipes/wavpack.recipe
include recipes/webrtc-audio-processing.recipe
include recipes/webrtc-audio-processing/0000-Add-fix_interlocked_exchange_pointer_win.h.patch
include recipes/webrtc-audio-processing/0000-Add-sal.h-as-it-s-missing-in-cerbero-mingw.patch
include recipes/webrtc-audio-processing/0001-build-enforce-linking-with-no-undefined-add-explicit.patch
include recipes/webrtc-audio-processing/0002-build-Make-sure-files-with-SSE2-code-are-compiled-wi.patch
include recipes/webrtc-audio-processing/0003-Don-t-include-execinfo.h-for-windows.patch
include recipes/webrtc-audio-processing/0004-Don-t-use-MSVC-specific-exception-handler-for-MINGW.patch
include recipes/webrtc-audio-processing/0005-Add-missing-throw-in-destructor-override.patch
include recipes/webrtc-audio-processing/0006-lrint-is-available-with-mingw.patch
include recipes/webrtc-audio-processing/0007-Fix-case-sensitivity-issue-with-MinGW-cross-build.patch
include recipes/webrtc-audio-processing/0008-Add-missing-windows-specific-headers.patch
include recipes/webrtc-audio-processing/0009-Fix-build-on-win64.patch
include recipes/webrtc-audio-processing/0010-Add-cerbero-gnustl-support-for-Android.patch
include recipes/webrtc-audio-processing/0011-Disable-backtrace-on-android.patch
include recipes/webrtc-audio-processing/0012-Don-t-blindly-link-to-pthread.patch
include recipes/webrtc-audio-processing/0013-Add-required-define-for-Windows.patch
include recipes/webrtc-audio-processing/0014-Properly-select-the-right-system-wrappers.patch
include recipes/webrtc-audio-processing/0015-Fix-case-sensitivity-in-windows-include.patch
include recipes/webrtc-audio-processing/0016-Define-MSVC-_WIN32-so-we-can-build-on-mingw.patch
include recipes/webrtc-audio-processing/0017-Add-missing-windows-conditions-variable.patch
include recipes/webrtc-audio-processing/0018-Protect-against-unsupported-CPU-types.patch
include recipes/webrtc-audio-processing/0019-osx-Fix-type-OS_FLAGS-instead-of-OS_CFLAGS.patch
include recipes/webrtc-audio-processing/0020-Sync-defines-and-libs-with-build.gn.patch
include recipes/webrtc-audio-processing/0021-Use-no-undefined-to-support-both-clang-and-gcc.patch
include recipes/webrtc-audio-processing/0022-Re-add-pthread-linking-on-linux.patch
include recipes/webrtc-audio-processing/0023-Add-ARM-64bit-support.patch
include recipes/x264.recipe
include recipes/zlib.recipe
include recipes/zlib/0001-win32-fix-dll-name.patch
